header {
  height: 12vh;
  width: 100%;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  z-index: 1;

  background-color: var(--bg-color);
  transition: 400ms;
}

#logoContainer {
  height: 90%;
  width: 13%;
}

#logo {
  height: 100%;
  width: 100%;
}

#navBar {
  max-height: 90%;
  min-width: 15%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 2em;
}

.navBtn {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-gray);

  transition: 400ms;
}

.navBtn:hover {
  color: var(--text-hover);
}

#mobileNavIcon {
  display: none;
}

#navBtnClose,
#mobileNavIcon {
  display: none;
}
